Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && pnpm lint'
  pass_filenames: false

Semi-implicit relation
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/providers/prisma/relations.py
Due: none

Refactor test
  typegraph/tests/runtimes/prisma/test_schema.py
Due: none

Move snapshot location for importers
  typegraph/tests/__snapshots__/importers/graphql_importer_codegen.txt
  typegraph/tests/__snapshots__/importers/openapi_importer_codegen.txt
  typegraph/tests/importers/test_graphql_impoter.py
  typegraph/tests/importers/test_openapi_importer.py
Due: none

Fix blog example
  examples/typegraphs/prisma_blog/prisma_blog.py
Due: none

feat: add error message for schema argument
  typegate/deno.lock
  typegate/src/planner/args.ts
  typegate/src/typecheck.ts
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

test: update typecheck tests
  typegate/src/typecheck.ts
  typegate/tests/typecheck/typecheck_test.ts
Due: deno-fmt, deno-lint

Fix and cleanup
  typegate/deno.lock
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/importers/base/importer.md
  website/docs/reference/typegraph/typegraph/importers/openapi.md
  website/docs/reference/typegraph/typegraph/providers/prisma/relations.md
  website/docs/reference/typegraph/typegraph/providers/temporal/runtimes/temporal.md
Due: none

Fix mybusiness example
  examples/typegraphs/mybusiness/mybusiness.py
Due: none

Fix merge confusions?
  Cargo.lock
  examples/typegraphs/retrend/retrend.py
  typegate/tests/prisma/prisma_multi.py
  typegraph/typegraph/__init__.py
  typegraph/typegraph/effect.py
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/typegraph/providers/prisma/relations.md
Due: none

Remove unnecessary effects
  examples/typegraphs/math/math_.py
  typegraph/typegraph/graph/typegraph.py
Due: none

Remove unnecessary codes
  typegraph/typegraph/providers/prisma/relations.py
Due: none

Fix tests
  typegate/tests/typename/typename.py
Due: none

draft aggregate
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

implement aggregate
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

rebase docs
  README.md
  typegraph/poetry.lock
  typegraph/pyproject.toml
  typegraph/typegraph/importers/google_discovery.py
  typegraph/typegraph/runtimes/random.py
  website/docs/concepts/overview/index.mdx
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/index.mdx
  website/docs/tutorials/authentication-and-security/authentication.graphql
  website/docs/tutorials/authentication-and-security/authentication.py
  website/docs/tutorials/authentication-and-security/cors.graphql
  website/docs/tutorials/authentication-and-security/cors.py
  website/docs/tutorials/authentication-and-security/index.mdx
  website/docs/tutorials/authentication-and-security/rate.graphql
  website/docs/tutorials/authentication-and-security/rate.py
  website/docs/tutorials/getting-started.mdx
  website/docs/tutorials/import-your-api-blocks/fcm.graphql
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/import-your-api-blocks/fcm.yaml
  website/docs/tutorials/import-your-api-blocks/google.py
  website/docs/tutorials/import-your-api-blocks/importer.py
  website/docs/tutorials/import-your-api-blocks/index.mdx
  website/docs/tutorials/import-your-api-blocks/openapi.yml
  website/docs/tutorials/policies-and-materializers/deno.graphql
  website/docs/tutorials/policies-and-materializers/deno.py
  website/docs/tutorials/policies-and-materializers/index.mdx
  website/docs/tutorials/policies-and-materializers/policies.graphql
  website/docs/tutorials/policies-and-materializers/policies.py
  website/docs/tutorials/policies-and-materializers/typegraph.py
  website/docs/tutorials/your-chat-app/business-logic.graphql
  website/docs/tutorials/your-chat-app/business-logic.py
  website/docs/tutorials/your-chat-app/business-logic.ts
  website/docs/tutorials/your-chat-app/index.mdx
  website/docs/tutorials/your-first-typegraph/index.mdx
  website/docs/tutorials/your-first-typegraph/playground.png
  website/docs/tutorials/your-first-typegraph/types.py
  website/src/components/Newsletter/index.tsx
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/orm-for-the-edge/index.mdx
  website/vale/Vocab/Metatype/accept.txt
Due: es-lint

add orderBy
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

import directly from std
  typegate/deno.lock
  typegate/deno_import.json
  typegate/src/engine.ts
Due: deno-fmt, deno-lint

use native URL api instead
  typegate/deno.lock
  typegate/deno_import.json
  typegate/src/runtimes/http.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

refactor random
  typegate/src/runtimes/random.ts
Due: deno-fmt, deno-lint

feat: add type node either
  libs/common/src/typegraph.rs
  meta-cli/src/codegen/deno.rs
  typegate/src/planner/args.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/type_node.ts
  typegate/src/typecheck.ts
  typegate/src/typegraph.ts
  typegate/src/types/typegraph.ts
  typegate/tests/type_nodes/__snapshots__/either_test.ts.snap
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/either_node.py
  typegate/tests/type_nodes/either_test.ts
  typegate/tests/type_nodes/ts/either/user_register.ts
  typegate/tests/type_nodes/union_test.ts
  typegate/tests/utils.ts
  typegraph/typegraph/types.py
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint

Remove __find_relation
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

(cli) Better error message for failed typegraph push
  meta-cli/src/cli/dev.rs
  meta-cli/src/utils/mod.rs
Due: none

fix groupBy
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

test(Prisma): test type generator
  typegraph/tests/runtimes/prisma/test_type_generator.py
Due: none

generalize orderBy for groupBy
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

add distinct
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

test: fix error message
  typegate/src/typecheck.ts
Due: deno-fmt, deno-lint

fix build
  .github/workflows/publish-website.yml
  website/docs/tutorials/your-chat-app/index.mdx
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
Due: es-lint

upgrade pre-commit hook
  .pre-commit-config.yaml
  examples/typegraphs/biscuicuits/biscuicuits.py
  examples/typegraphs/elastic/elastic.py
  examples/typegraphs/mini/mini.py
  examples/typegraphs/petstore/petstore.py
  examples/typegraphs/retrend/retrend.py
  typegate/src/typegraphs/introspection.py
  typegate/src/typegraphs/typegate.py
  typegate/tests/auto/test.py
  typegate/tests/injection/injection.py
  typegate/tests/nesting/nesting.py
  typegate/tests/policies/policies.py
  typegate/tests/prisma/prisma.py
  typegate/tests/prisma/prisma_1_1.py
  typegate/tests/prisma/prisma_multi.py
  typegate/tests/rest/rest.py
  typegate/tests/simple/simple.py
  typegate/tests/typename/typename.py
  typegraph/tests/test_dependency.py
  typegraph/tests/test_typegraph.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/utils.py
  website/docs.py
  website/docs/guides/upload-files-s3/typegraph.py
  website/src/pages/index.py
  website/use-cases/backend-for-frontend/typegraph.py
  website/use-cases/orm-for-the-edge/typegraph.py
Due: none

add missing files
  .vscode/extensions.json
  ruff.toml
Due: none

nicer link with meta-cli
  meta-cli/src/cli/deploy.rs
  meta-cli/src/cli/dev.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/typegraph.rs
  meta-cli/src/utils/mod.rs
  website/docs/tutorials/import-your-api-blocks/fcm.py
  website/docs/tutorials/your-chat-app/business-logic.py
  whiz.yaml
Due: none

small fixes
  meta-cli/src/cli/dev.rs
  meta-cli/src/typegraph.rs
  typegate/src/crypto.ts
  typegraph/typegraph/policies.py
  website/.env.sample
  website/docs/reference/changelog.mdx
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/adding-more-runtimes/prisma-no-sugar.py
  website/docs/tutorials/authentication-and-security/authentication.py
  website/docs/tutorials/policies-and-materializers/deno.py
  website/docs/tutorials/your-chat-app/business-logic.py
  website/docs/tutorials/your-chat-app/business-logic.ts
  website/docs/tutorials/your-chat-app/index.mdx
  website/packages/code-loader.js
Due: deno-fmt, deno-lint, es-lint

fix: disable pushing tg
  .github/workflows/publish-website.yml
Due: none

chore: run website deploy on .github change
  .github/workflows/publish-website.yml
Due: none

init having for groupBy
  typegate/tests/prisma/full_prisma_mapping_test.ts
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
Due: deno-fmt, deno-lint

Path conditions:
  deno-fmt: any of: ^typegate/ and \.(ts|mts|cts)$
  deno-lint: any of: ^typegate/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
