Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

deno-fmt:
  name: Deno format
  language: system
  entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs'
  pass_filenames: false

deno-lint:
  name: Deno lint
  language: system
  entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native'
  pass_filenames: false

es-lint:
  name: Eslint
  language: system
  entry: bash -c 'cd website && pnpm lint'
  pass_filenames: false

set methods as private
  typegate/src/runtimes/random.ts
Due: deno-fmt, deno-lint

change mapo to mapValues
  typegate/src/engine.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

remove unzip (use collections.unzip instead)
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

add collections dependency
  typegate/deno.lock
  typegate/deno_import.json
Due: none

Working schema builder without relations
  typegate/deno.lock
  typegate/src/typegraphs/introspection.json
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/graph/builder.py
  typegraph/typegraph/graph/typegraph.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/types.py
Due: none

Schema generation for relations
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

rename Maybe => Option
  typegate/deno.lock
  typegate/deno_import.json
  typegate/src/engine.ts
  typegate/src/graphql.ts
  typegate/src/typegate.ts
  typegate/src/utils.ts
Due: deno-fmt, deno-lint

wip: integrate new schema builder
  typegate/deno.lock
  typegraph/typegraph/graph/typegraph.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/type_generator.py
  typegraph/typegraph/types.py
Due: none

add: polish log and dependencies
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .vscode/settings.json
  dev/Dockerfile
  dev/lock.yml
  typegate/native/src/lib.rs
  typegate/src/config.ts
  typegate/src/log.ts
  typegate/src/runtimes/deno.ts
  typegate/src/typegate.ts
  website/docs/reference/changelog.mdx
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/importers/base/importer.md
  website/docs/reference/typegraph/typegraph/importers/openapi.md
  website/docs/reference/typegraph/typegraph/providers/temporal/runtimes/temporal.md
  website/package.json
  website/pnpm-lock.yaml
  whiz.yaml
Due: deno-fmt, deno-lint

add: create release automatically
  .github/workflows/release.yml
Due: none

add: improve packages
  website/.vale.ini
  website/docs/reference/changelog.mdx
  website/docs/sidebars.js
  website/docusaurus.config.js
  website/package.json
  website/packages/changelog.js
  website/packages/code-loader.js
  website/plugins/changelog.js
  website/pnpm-lock.yaml
  website/src/components/MiniQL/index.tsx
  website/src/pages/index.tsx
  website/src/pages/legal/privacy-policy.md
  website/src/pages/legal/terms.md
Due: es-lint

add bff
  website/docs/reference/changelog.mdx
  website/docusaurus.config.js
  website/packages/changelog.js
  website/packages/code-loader.js
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/MiniQL/styles.module.scss
  website/src/components/TGExample/index.tsx
  website/src/pages/legal/privacy-policy.md
  website/src/pages/legal/terms.md
  website/use-cases/backend-for-frontend.md
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/backend-for-frontend/query.graphql
  website/use-cases/backend-for-frontend/typegraph.py
  website/use-cases/orm-on-the-edge.mdx
  website/vale/Vocab/Metatype/accept.txt
Due: es-lint

ORM for the edges
  typegate/src/utils.ts
  website/.env.sample
  website/packages/code-loader.js
  website/src/pages/homepage.graphql
  website/src/pages/index.tsx
  website/use-cases/backend-for-frontend/image.drawio.svg
  website/use-cases/backend-for-frontend/index.mdx
  website/use-cases/backend-for-frontend/typegraph.py
  website/use-cases/orm-for-the-edge/image.drawio.svg
  website/use-cases/orm-for-the-edge/index.mdx
  website/use-cases/orm-for-the-edge/query.graphql
  website/use-cases/orm-for-the-edge/typegraph.py
  website/use-cases/orm-on-the-edge.mdx
  website/vale/Vocab/Metatype/accept.txt
Due: deno-fmt, deno-lint, es-lint

add gleap
  website/docs/guides/contribute.md
  website/docs/guides/upload-files-s3/index.mdx
  website/docs/guides/upload-files-s3/typegraph.py
  website/docs/guides/upload-files.md
  website/package.json
  website/pnpm-lock.yaml
  website/shared/metatype.mdx
  website/src/pages/index.graphql
  website/src/pages/index.py
  website/src/pages/index.tsx
  website/src/theme/Root.tsx
Due: es-lint

add typegraph
  typegraph/typegraph/graph/models.py
  typegraph/typegraph/policies.py
  website/docs/concepts/meta-cli/index.mdx
  website/docs/concepts/overview/image.drawio.svg
  website/docs/concepts/overview/index.mdx
  website/docs/concepts/typegate.mdx
  website/docs/concepts/typegate/index.mdx
  website/docs/concepts/typegraph/functions.py
  website/docs/concepts/typegraph/importers.mdx
  website/docs/concepts/typegraph/index.mdx
  website/docs/concepts/typegraph/mini.py
  website/docs/concepts/typegraph/policies.py
  website/docs/concepts/typegraph/policies/index.mdx
  website/docs/concepts/typegraph/policies/public.py
  website/docs/concepts/typegraph/runtimes.mdx
  website/docs/concepts/typegraph/runtimes.py
  website/docs/concepts/typegraph/triggers.py
  website/docs/concepts/typegraph/types.py
  website/docs/reference/changelog.mdx
  website/docs/reference/specification.mdx
  website/docs/reference/typegraph/pydoc.json
  website/docs/reference/typegraph/typegraph/graph/models.md
  website/docs/sidebars.js
  website/docs/tutorials/getting-started.mdx
  website/docs/tutorials/write-your-own-policies/index.mdx
  website/docs/tutorials/write-your-own-policies/typegraph.py
  website/shared/metatype-intro.mdx
  website/src/pages/index.tsx
  website/use-cases/backend-for-frontend/query.graphql
  website/vale/Vocab/Metatype/accept.txt
Due: es-lint

add meta cli
  typegate/src/engine.ts
  website/docs/concepts/meta-cli/index.mdx
  website/docs/concepts/overview/index.mdx
  website/docs/concepts/typegate/index.mdx
  website/docs/concepts/typegraph/functions.py
  website/docs/concepts/typegraph/index.mdx
  website/docs/concepts/typegraph/policies.py
  website/docs/concepts/typegraph/runtimes.py
  website/docs/concepts/typegraph/types.py
  website/docs/reference/configuration-file.mdx
  website/docs/reference/typegraph/typegraph/graph/models.md
  website/docs/sidebars.js
  website/docs/tutorials/import-your-api-blocks.mdx
  website/packages/code-loader.js
  website/vale/Vocab/Metatype/accept.txt
Due: deno-fmt, deno-lint

Working draft for LinkProxy
  typegate/deno.lock
  typegate/tests/prisma/prisma.py
  typegate/tests/prisma/prisma_1_1.py
  typegate/tests/prisma/prisma_multi.py
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/graph/nodes.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
  typegraph/typegraph/types.py
Due: none

test(typegate): Fix prisma tests
  typegate/tests/multiple_runtimes/multiple_runtimes.py
  typegate/tests/prisma/prisma_1_1.py
  typegate/tests/prisma/prisma_multi.py
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/graph/builder.py
  typegraph/typegraph/graph/typegraph.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/types.py
Due: none

init tests
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
Due: deno-fmt, deno-lint

remove enums
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
Due: deno-fmt, deno-lint

test(prisma schema builder): Snapshots
  typegraph/tests/__snapshots__/prisma-schema/one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/one-to-one.prisma
  typegraph/tests/__snapshots__/prisma-schema/simple-model.prisma
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/graph/typegraph.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/types.py
Due: none

Refactoring
  typegraph/typegraph/providers/prisma/relations.py
Due: none

init datas
  typegate/tests/prisma/full_prisma_mapping.py
  typegate/tests/prisma/full_prisma_mapping_test.ts
Due: deno-fmt, deno-lint

add overview and first typegraph
  .github/workflows/pr-title-check.yml
  typegraph/typegraph/runtimes/random.py
  website/docs/concepts/overview/index.mdx
  website/docs/concepts/typegraph/functions.py
  website/docs/concepts/typegraph/runtimes.py
  website/docs/concepts/typegraph/triggers.py
  website/docs/sidebars.js
  website/docs/tutorials/adding-more-runtimes/index.mdx
  website/docs/tutorials/adding-more-runtimes/typegraph.py
  website/docs/tutorials/authentication-and-security/index.mdx
  website/docs/tutorials/getting-started.mdx
  website/docs/tutorials/import-your-api-blocks.mdx
  website/docs/tutorials/import-your-api-blocks/index.mdx
  website/docs/tutorials/policies-and-materializers/index.mdx
  website/docs/tutorials/policies-and-materializers/typegraph.py
  website/docs/tutorials/your-first-typegraph.mdx
  website/docs/tutorials/your-first-typegraph/index.mdx
  website/docs/tutorials/your-first-typegraph/playground.png
  website/docs/tutorials/your-first-typegraph/query.graphql
  website/docs/tutorials/your-first-typegraph/typegraph.py
  website/docs/tutorials/your-first-typegraph/types.py
  website/src/components/MiniQL/index.tsx
Due: es-lint

add adding more runtimes
  .vscode/settings.json
  typegate/deno.lock
  website/.env.sample
  website/docs/tutorials/adding-more-runtimes/database.graphql
  website/docs/tutorials/adding-more-runtimes/database.py
  website/docs/tutorials/adding-more-runtimes/graphql.graphql
  website/docs/tutorials/adding-more-runtimes/graphql.py
  website/docs/tutorials/adding-more-runtimes/index.mdx
  website/docs/tutorials/adding-more-runtimes/prisma-no-sugar.py
  website/docs/tutorials/adding-more-runtimes/typegraph.py
  website/docs/tutorials/your-first-typegraph/index.mdx
  website/docs/tutorials/your-first-typegraph/query.graphql
  website/docs/tutorials/your-first-typegraph/typegraph.py
  website/vale/Vocab/Metatype/accept.txt
Due: none

feat: use anyOf for union type
  examples/typegraphs/math/fib.ts
  libs/common/src/typegraph.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__.__src__tests__typegraphs__union_node.py.snap
  meta-cli/src/tests/typegraphs/union_node.py
  metatype.yml
  typegate/deno.lock
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/typegraph.ts
  typegate/src/type_node.ts
  typegate/src/typecheck.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/types/typegraph.ts
  typegate/tests/type_nodes/__snapshots__/union_test.ts.snap
  typegate/tests/type_nodes/ts/union/color_converter.ts
  typegate/tests/type_nodes/ts/union/student.ts
  typegate/tests/type_nodes/ts/union/worker.ts
  typegate/tests/type_nodes/union_node.py
  typegate/tests/type_nodes/union_test.ts
  typegraph/tests/importers/openapi_spec.json
  typegraph/typegraph/types.py
  website/babel.config.js
  website/docs/reference/typegate/prisma-migration/mutations.md
  website/docs/reference/typegate/prisma-migration/queries.md
  website/docs/reference/typegate/prisma-migration/scalars.md
  website/docs/reference/typegate/typegate/mutations.md
  website/docs/reference/typegate/typegate/queries.md
  website/docs/reference/typegate/typegate/scalars.md
  website/docusaurus.config.js
  website/plugins/changelog.js
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/Newsletter/index.tsx
  website/src/pages/index.tsx
  website/static/specs/0.0.1.json
Due: deno-fmt, deno-lint, es-lint

Fix introspection
  typegate/deno.lock
  typegate/src/runtimes/typegraph.ts
  typegate/src/web/playground.ts
Due: deno-fmt, deno-lint

fix: change definition from allOf to anyof
  metatype.yml
  typegate/src/typecheck.ts
  typegate/tests/type_nodes/union_test.ts
Due: deno-fmt, deno-lint

Fix introspection (#102)
  typegate/deno.lock
  typegate/src/runtimes/typegraph.ts
  typegate/src/web/playground.ts
Due: deno-fmt, deno-lint

Prepare release: 0.0.3-dev.2
  Cargo.lock
  dev/lock.yml
  examples/docker-compose.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

Cleanup
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
Due: none

(refactor) Rename class to RelationshipRegister
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/providers/prisma/relations.py
  typegraph/typegraph/providers/prisma/runtimes/prisma.py
  typegraph/typegraph/providers/prisma/schema.py
  typegraph/typegraph/providers/prisma/type_generator.py
Due: none

test: Implicit relationship
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-many.prisma
  typegraph/tests/__snapshots__/prisma-schema/implicit-one-to-one.prisma
  typegraph/tests/runtimes/prisma/test_schema.py
  typegraph/typegraph/providers/prisma/relations.py
Due: none

Prepare release: 0.0.3-dev.2 (#103)
  Cargo.lock
  dev/lock.yml
  examples/docker-compose.yml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/typegraph/__init__.py
Due: none

Prepare release: 0.0.3-dev.2 (#103)
  Cargo.lock
  dev/lock.yml
  examples/docker-compose.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

fix and update
  .github/workflows/release.yml
  .github/workflows/tests.yml
  dev/Dockerfile
  dev/lock.yml
  typegate/deno.lock
  website/packages/code-loader.js
  website/src/pages/index.tsx
Due: es-lint

prepare next version
  Cargo.lock
  dev/lock.ts
  dev/lock.yml
  examples/docker-compose.yml
  examples/pyproject.toml
  libs/common/Cargo.toml
  libs/macros/Cargo.toml
  libs/typescript/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

fix deploy
  .github/workflows/release.yml
Due: none

Path conditions:
  deno-fmt: any of: ^typegate/ and \.(ts|mts|cts)$
  deno-lint: any of: ^typegate/ and \.(ts|mts|cts)$
  es-lint: any of: ^website/ and \.(ts|mts|cts)$, \.tsx$
