Repository metatypedev/metatype: changes, and which pre-commit hooks are due for each by the changed paths.
All: deno-fmt, deno-lint, es-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-json
        exclude: .vscode/.*\.json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/sqlalchemyorg/zimports/
    rev: v0.6.0
    hooks:
      - id: zimports
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v2.37.0
    hooks:
      - id: commitizen
        stages: [commit-msg]
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
      - id: cargo-check
      - id: clippy
        args: ["--", "--deny", "warnings", "--allow", "dead-code"]
  - repo: local
    hooks:
      - id: deno-fmt
        name: Deno format
        language: system
        entry: bash -c 'cd typegate && deno fmt --ignore=native,src/typegraphs'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: deno-lint
        name: Deno lint
        language: system
        entry: bash -c 'cd typegate && deno lint --rules-exclude=no-explicit-any --ignore=native'
        pass_filenames: false
        types:
          - ts
        files: ^typegate/
      - id: es-lint
        name: Eslint
        language: system
        entry: bash -c 'cd website && pnpm lint'
        pass_filenames: false
        types_or:
          - ts
          - tsx
        files: ^website/
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.3.1
    hooks:
      - id: insert-license
        name: "License header python"
        args:
          #- --remove-header
          - --license-filepath=license-header.txt
          - "--comment-style=#"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - python
        files: ^typegraph/
      - id: insert-license
        name: "License header rust"
        args:
          #- --remove-header
          - --license-filepath=license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - rust
        files: ^(typegate|libs|meta-cli)/
      - id: insert-license
        name: "License header deno"
        args:
          #- --remove-header
          - --license-filepath=license-header.txt
          - "--comment-style=//"
          - "--skip-license-insertion-comment=no-auto-license-header"
        types_or:
          - ts
        files: ^typegate/

[no-ref] Move authentication protocols into independent files
  typegate/deno.lock
  typegate/src/auth/auth.ts
  typegate/src/auth/protocols/basic.ts
  typegate/src/auth/protocols/jwt.ts
  typegate/src/auth/protocols/oauth2.ts
  typegate/src/typegraph.ts
  typegate/src/web/auth_debug.ts
  typegate/tests/auth_test.ts
Due: deno-fmt, deno-lint

[no-ref] Improve code style in `xtask`
  libs/xtask/src/codegen/mod.rs
  libs/xtask/src/main.rs
  typegate/deno.lock
Due: none

remove dockerfile
  Dockerfile
Due: none

release alpha 13
  Cargo.lock
  libs/common/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/typegraph/__init__.py
Due: none

release alpha 13
  Cargo.lock
  libs/common/Cargo.toml
  libs/xtask/Cargo.toml
  meta-cli/Cargo.toml
  typegate/native/Cargo.toml
  typegraph/pyproject.toml
  typegraph/typegraph/__init__.py
Due: none

fix cors and more forward with doc
  README.md
  meta-cli/tests/config.rs
  meta-cli/tests/graphs/graph1.py
  meta-cli/tests/graphs/nested/graph0.py
  meta-cli/tests/metatype.yaml
  typegate/deno.lock
  typegate/src/runtimes/http.ts
  typegate/src/typegate.ts
  typegate/src/typegraph.ts
  website/docs.py
  website/docs/concepts/typegraph/index.mdx
  website/docs/reference/changelog.mdx
  website/docs/shared/metatype.mdx
  website/docs/tutorials/adding-more-runtimes.mdx
  website/docs/tutorials/first-typegraph.mdx
  website/docs/tutorials/getting-started.mdx
  website/docs/tutorials/your-first-typegraph.mdx
  website/metatype.yaml
  website/package.json
  website/pnpm-lock.yaml
  website/src/components/MiniQL/GraphiQLInterface.tsx
  website/src/components/MiniQL/index.tsx
  website/src/components/Newsletter/index.tsx
  whiz.yaml
Due: deno-fmt, deno-lint, es-lint

fix lock
  typegate/deno.lock
Due: none

feat(meta-cli): make config file optional
  meta-cli/src/cli/dev.rs
  meta-cli/src/cli/serialize.rs
  typegate/deno.lock
  typegate/serialize-tgs.sh
Due: none

refactor(examples): improve folder structure
  examples/metatype.yaml
  examples/typegraphs/biscuicuits/biscuicuits.py
  examples/typegraphs/biscuicuits/send_in_blue_send.ts
  examples/typegraphs/devto/devto.py
  examples/typegraphs/elastic/elastic.py
  examples/typegraphs/hivdb/hivdb.py
  examples/typegraphs/math/fib.ts
  examples/typegraphs/math/math_.py
  examples/typegraphs/mini/mini.py
  examples/typegraphs/mybusiness/mybusiness.py
  examples/typegraphs/petstore/petstore.py
  examples/typegraphs/petstore_v3/petstore_v3.py
  examples/typegraphs/prisma_blog/prisma_blog.py
  examples/typegraphs/retrend/image_proxy_resize.ts
  examples/typegraphs/retrend/retrend.py
Due: none

Fix/met 27/fix duplicated types in typegraph importers
  examples/typegraphs/hivdb/hivdb.py
  typegate/src/query_parsers/graphql.ts
  typegate/src/query_parsers/utils.ts
  typegraph/typegraph/importers/graphql.py
  typegraph/typegraph/types/types.py
Due: deno-fmt, deno-lint

feat(policies): Add special policies
  libs/common/src/typegraph.rs
  meta-cli/src/codegen/deno.rs
  meta-cli/src/config.rs
  typegate/metatype.yaml
  typegate/src/engine.ts
  typegate/src/runtimes/prisma.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/prisma_migration.py
  typegate/src/typegraphs/typegate.json
  typegate/src/typegraphs/typegate.py
  typegate/src/types.ts
  typegate/tests/auth/auth.py
  typegate/tests/deno/ts/policies.ts
  typegate/tests/policies/policies.py
  typegate/tests/query_parsers/__snapshots__/query_parsers_test.ts.snap
  typegraph/typegraph/policies.py
  typegraph/typegraph/types/types.py
  website/static/typegraph.json
Due: deno-fmt, deno-lint

test(codegen): Fix pipeline
  Cargo.lock
  meta-cli/Cargo.toml
  meta-cli/src/codegen/deno.rs
  meta-cli/src/codegen/snapshots/meta__codegen__deno__tests__codegen.snap
  meta-cli/src/tests/typegraphs/codegen-expected-output.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
Due: none

Remove old codes, fix special field names
  typegate/src/planner.ts
  typegate/src/typegraph.ts
Due: deno-fmt, deno-lint

Refactor: Extract planner into a separate class
  typegate/deno.lock
  typegate/src/engine.ts
  typegate/src/planner.ts
  typegate/src/type_node.ts
  typegate/src/types.ts
  typegate/tests/policies/ts/policies.ts
Due: deno-fmt, deno-lint

Remove debugging logs
  typegate/src/typegraphs/prisma_migration.py
Due: none

Refactor: uniform code styles
  typegate/tests/policies/policies.py
Due: none

refact: Extract ArgumentCollector class from TypeGraph
  dev/docker-compose.yml
  typegate/deno.lock
  typegate/src/engine.ts
  typegate/src/planner/args.ts
  typegate/src/planner/mod.ts
  typegate/src/runtimes/utils/graphql_inline_vars.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/src/types.ts
  typegate/tests/prisma_migrate/prisma_migrate_test.ts
  typegate/tests/utils.ts
Due: deno-fmt, deno-lint

Remove special policies
  libs/common/src/typegraph.rs
  typegate/deno.lock
  typegate/metatype.yaml
  typegate/src/engine.ts
  typegate/src/typegraph.ts
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegate/tests/policies/policies.py
  typegraph/typegraph/policies.py
  typegraph/typegraph/types/types.py
Due: deno-fmt, deno-lint

Pass raw args to policies
  typegate/src/engine.ts
  typegate/src/planner/mod.ts
  typegate/tests/policies/policies_test.ts
  typegate/tests/policies/ts/policies.ts
Due: deno-fmt, deno-lint

Remove old codes
  libs/common/src/typegraph.rs
  typegate/src/engine.ts
  typegate/src/typegraph.ts
  typegate/src/types.ts
Due: deno-fmt, deno-lint

Update jsonschema
  website/static/typegraph.json
Due: none

build: improve pipeline and refactor cache
  .github/pr-title-checker-config.json
  .github/workflows/pr-title-check.yml
  .github/workflows/publish-website.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitlab-ci.yml
  dev/Dockerfile.test
  dev/Dockerfile.test.dockerignore
  typegate/src/typegraphs/introspection.json
  typegate/src/typegraphs/prisma_migration.json
  typegate/src/typegraphs/typegate.json
  typegraph/LICENSE.md
Due: none

build: fix sync job
  .gitlab-ci.yml
Due: none

build: fix gitlab ci
  .gitlab-ci.yml
Due: none

build: inverse symbloc link
  LICENSE.md
  typegraph/LICENSE.md
Due: none

build: remove pipeline dev tools
  .github/workflows/tests.yml
Due: none

Fix boolean argument parsing bug
  typegate/src/planner/args.ts
  typegate/tests/prisma_migrate/prisma_migrate_test.ts
Due: deno-fmt, deno-lint

Update deno.lock
  typegate/deno.lock
Due: none

Move adminer service into docker-compose.dev.yml
  dev/docker-compose.dev.yml
  dev/docker-compose.yml
Due: none
